/* Global styles, fonts, units, etc. */
html {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #000000;
  color: #ffffff; }

/* Fonts */
/* Mixins & variables */
/* Small & basic styles that carry over to other sizes */
.blurb a {
  color: #aaaaaa;
  margin-bottom: 1rem;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  clear:both;
  font-family: sans-serif;
  text-decoration: underline;
}

.button:hover {
  background: rgba(255, 255, 255, 0.2); }

.clear { clear: both; }

.title { color: #FF2E80;}

input { font-family: Menlo, Monaco, Consolas, 'Courier New', monospace; }
textarea { width:100%;
           max-width: 400px;
           height:80px;
           font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
           font-size: medium; }

.container-outer {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 10%; }

.container-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.logo {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 2rem; }

.blurb {
  width: 100%;
  /*max-width: 600px;*/
  float: left;
  text-align: left;
  overflow: auto; }
.blurb p {
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: block;
 }
.blurb img {
  max-width: 100%;
 }

.logo {
  float: left; }

/* Medium */
@media only screen and (min-width: 768px) {
  .blurb p {
    font-size: 1.5rem; } }
/* Large */
@media only screen and (min-width: 1025px) {
  .container-logo {
    width: 100%;
    display: block;
    overflow: auto; }
}

input {
  border: none;
  border-radius: 3px;
}

.box {
  text-align: left;
  clear:both;
  background-color: #444;
  overflow: auto;
  overflow-y: hidden;
  padding: 10px;
  margin: 0 auto 20px auto;
  border-radius: 6px;
}

.winner {
  background-color: #2c2e4a;
}

.section {
  margin-bottom: 30px;
}

.box h1 {
  color: #ff2e80;
  text-transform: uppercase;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: bolder;
  white-space: nowrap;
}

.box h3 {
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  font-family: sans-serif;
  white-space: nowrap;
  margin-top: 7px;
}

.box span {
  display: block;
  color: white;
  font-family: sans-serif;
  font-weight: normal;
  padding-top: 10px;
  font-size: 18px;
}

.box img {
  float:left;
  margin-right: 15px;
  border-radius: 4px;
}

.box .vote {
  float:left;
  background-color: #222222;
  min-height: 50px;
  color: white;
  font-family: sans-serif;
  font-weight: normal;
  margin-top: 10px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}

.hack {
  width: 90px;
  float:left;
  margin-right: 15px;
}

#uservotefloater {
  position: fixed;
  top: 5px;
  margin: 0 auto;
  background-color: #2c2e4a;
  padding: 10px;
  border-radius: 3px;
  line-height: 1.5rem;
  opacity: 0.85;
  display: none;
}

.voterow {
  margin: 5px auto;
  height: 2rem;
}

.button {
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1.4em;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.votebtn {
  width:33%;
  height:100%;
  background: #FF2E80;
  font-size: 1.2em;
  font-weight: 600;
  border:1px #444 solid;
}

.votebtn:hover {
  background: #CC2266;
}

.votebtnup {
  float:left;
}

.votebtndown {
  float:right;
}

.uservote {
  display: inline-block;
  background: #2c2e4a;
  border-radius: 4px;
  font-size: 1.4em;
  margin-left: 2%;
  padding-top: 4px;
  text-align: center;
  width:30%;
  height:100%;
}

form {
  border: 1px #CC2266 solid;
  background-color: #2c2e4a;
  padding: 30px;
  font-size: 24px;
}

form div {
  display: block;
  margin-bottom: 20px;
}

label {
  margin-bottom: 20px;
  float:left;
  /*margin: 20px;*/
}

input[type='text'] {
  font-size: 20px;
  width: 100%;
}

input[type='submit'] {
  font-size: 20px;
  background-color: #ff2e80;
  color: white;
}

img#editpreview {
  clear: both;
  max-height: 100px;
  max-width: 250px;
}

.message {
  margin-top: 24px;
  color: #ff2e80;
}

@media only screen and (min-width: 768px) {
  .box {
    padding: 20px;
  }
  .box h1 {
    font-size: 28px;
  }
  .box h3 {
    font-size: 20px;
  }
  .section {
    margin-bottom: 75px;
  }
  .hack {
    width: 160px;
  }
  .box .vote {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1025px) {
  .box {
    margin: 0 0 20px 0;
  }
}
